<%= form_with(model: park) do |form| %>
  <% if park.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(park.errors.count, "error") %> prohibited this park from being saved:</h2>

      <ul>
        <% park.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="m-6 field">
    <%= form.label :name, class: "font-bold text-blue-900" %>
    <%= form.text_field :name, class: "border-2 border-purple-300 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
  
    <%= form.label :state, class: "font-bold text-blue-900" %>
    <%= form.text_field :state, class: "border-2 border-purple-300 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
 
    <%= form.label :history, class: "font-bold text-blue-900" %>
    <%= form.text_area :history, class: "border-2 border-purple-300 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>

    <%= form.label :year_built, class: "font-bold text-blue-900" %>
    <%= form.number_field :year_built, class: "border-2 border-purple-300 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>

    <%= form.label :map, class: "font-bold text-blue-900" %>
    <%= form.file_field :map %>

    <%= form.label :map_width, class: "font-bold text-blue-900" %>
    <%= form.number_field :map_width, class: "border-2 border-purple-300 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>

    <%= form.label :map_height, class: "font-bold text-blue-900" %>
    <%= form.number_field :map_height, class: "border-2 border-purple-300 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" %>
  </div>

  <%= form.submit class: "m-6 bg-blue-700 hover:bg-blue-500 text-green-100 font-bold py-2 px-4 border border-green-700 rounded" %>
<% end %>
