<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @park.state %>
</p>

<p>
  <strong>History:</strong>
  <%= @park.history %>
</p>

<p>
  <strong>Year built:</strong>
  <%= @park.year_built %>
</p>

<p><strong>Rides in <%= @park.name %></strong></p>
<p>Names:</p>

<ul>
  <% @rides.each do |ride| %>
    <li> <%= link_to ride.name, ride%> </li>
  <% end %>
</ul>

<%= link_to 'New Ride', new_ride_path %> |
<%= link_to 'Edit Park', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %> |
<%= link_to 'Delete Park', @park, method: :delete, data: { confirm: 'Are you sure?' } %>

