<%= form_with(model: ride) do |form| %>
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
        <% ride.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :type_of_ride %>
    <%= form.text_area :type_of_ride %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.number_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.number_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :park_name, "Park Name" %>
    <%= form.select :park_name, options_from_collection_for_select(Park.all.sort_by {|hash| hash[:name]}, :id, :name) %> 
    <%
=begin%>
 <%= form.collection_select :park_id, Park.order(:name), :id, :name %>  
<%
=end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
