<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ride.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ride.description %>
</p>

<p>
  <strong>Type of ride:</strong>
  <%= @ride.type_of_ride %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @ride.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ride.longitude %>
</p>

<p>
  <strong>Park:</strong>
  <%= @ride.park.name %>
</p>

<p><strong>Reviews for <%= @ride.park.name %></strong></p>

<ul>
  <% @reviews.each do |review| %>
    <li> <%= link_to review.summary, review%> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %> |
<%= link_to 'Destroy', @ride, method: :delete, data: { confirm: 'Are you sure?' } %>