<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ride.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ride.description %>
</p>

<p>
  <strong>Type of ride:</strong>
  <%= @ride.type_of_ride %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @ride.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @ride.longitude %>
</p>

<p>
  <strong>Park:</strong>
  <%= @ride.park_id %>
</p>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
