
<header>
<nav class="flex justify-between p-4 bg-gradient-to-r from-green-400 to-blue-500">
  <div>
    <%= link_to "Parks", parks_path, class: "text-blue-900 p-4 no-underline text-2xl hover:bg-blue-500 hover:text-green-100 #{current_controller?(:parks) && 'font-bold bg-blue-700 text-white'}" %>
    <%= link_to "Rides", rides_path, class: "p-4 no-underline text-blue-900 text-2xl hover:bg-blue-500 hover:text-green-100 #{current_controller?(:rides) && 'font-bold bg-blue-700 text-white'}" %>
  </div>
  <div >
      <% if current_user %>
       <span class="p-4 text-2xl text-blue-900"> Hello <%= current_user.name %> </span>
      
        <%= link_to 'Log out', logout_path, method: :delete, class: "text-blue-900 p-4 no-underline text-2xl hover:bg-green-400 hover:text-blue-900" %>
      <% else %>
        <%= link_to 'Log in', login_path, class: "text-blue-900 p-4 no-underline text-2xl hover:bg-green-400 hover:text-blue-900"%>
    
        <%= link_to 'Sign up', new_user_path, class: "p-4 no-underline text-2xl text-blue-900 hover:bg-green-400 hover:text-blue-900"%>
      <% end %>
  </div>
</nav>
</header>